<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link   rel="stylesheet"
                type="text/css"
                href="static/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
  </head>
<body>
    <script src="static/js/home.js"></script>    
    <div>
        <!-- NAV BAR -->
        <nav class="navbar navbar-expand navbar-dark bg-primary">
          <a class="navbar-brand">BubblingBanjos</a>
    
          <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/map"> Map </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">How To</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Data</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    
    <div class="block">
      
    </div>
    <div class="content">
        <div class="section" id="Description">
            <h2>DESCRIPTION</h2>
            App that displays a map of NYC populated with data on crime in the city over layed with additional info on the city like socioeconomic demographics. This visualization of information can help gauge the relative safety of certain areas in NYC based on various indexes.
        </div>

        <div class="section" id="How">
            <h2>HOW TO USE</h2>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque dicta fugit earum eaque explicabo commodi quasi ex nesciunt, provident temporibus vel? Ad, voluptatum? Sunt, veniam nulla! Explicabo ipsa quisquam dignissimos.
        </div>

        <div class="section" id="Data">
            <h2>ABOUT DATA</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores accusamus ad ullam consequuntur, nobis eius ducimus delectus praesentium tempora at aliquid aut ea, sunt voluptate quis recusandae impedit porro quidem.
        </div>
    </div> 

    <footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
      <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <h1 class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" >
              <span class="fs-5">BubblingBanjos</span>
            </h1>
            <ul class="list-unstyled small">
              <li class="mb-2">Designed and built by team <a href="https://github.com/HarryZhu231227919/P04_BubblingBanjos">BubblingBanjos</a> with blood, sweat, and tears. </li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 offset-lg-1 mb-3">
            <h5>Project Manager</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="https://github.com/HarryZhu231227919">Harry Zhu</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Devos</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="https://github.com/Skusakabe">Shinji Kusakabe</a></li>
              <li class="mb-2"><a href="https://github.com/drew-pi">Andrew Piatetsky</a></li>
              <li class="mb-2"><a href="https://github.com/IvanYeung0610">Ivan Yeung</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Resources</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="https://opendata.cityofnewyork.us/">NYC Open Data</a></li>
              <li class="mb-2"><a href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">Bootstrap 5.3</a></li>
              <li class="mb-2"><a href="https://leafletjs.com/">Leaflet</a></li>
              <li class="mb-2"><a href="https://leafletjs.com/reference.html">Leaflet Docs</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2 mb-3">
            <h5>Data</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95">NYC motor vehicle collisions</a></li>
              <li class="mb-2"><a href="https://data.cityofnewyork.us/Public-Safety/NYPD-Hate-Crimes/bqiq-cu78">NYC hate crimes </a></li>
              <li class="mb-2"><a href="https://data.cityofnewyork.us/Public-Safety/NYPD-Shooting-Incident-Data-Historic-/833y-fsy8">NYC shooting incidents</a></li>
              <li class="mb-2"><a href="https://www.google.com/url?q=https://data.cityofnewyork.us/Public-Safety/NYPD-Arrests-Data-Historic-/8h9b-rp9u&sa=D&source=docs&ust=1683785658549055&usg=AOvVaw0mqaOZN5s9_ue6svPsDtQs">NYC arrest data</a></li>
              <li class="mb-2"><a href="https://data.cityofnewyork.us/Social-Services/Demographics-by-Zip-Code/hebw-6hze">Demographics by zip code</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>
